@{
}

<h1>Shopping Cart</h1>

<div class="container rounded-3 bg-light shadow p-4">
	<div class="row">
		<h4 class="fst-italic d-flex justify-content-center">Payment successful. Go back to <a href="/Books/Index" class="ps-1" style="color: saddlebrown">Books</a>.</h4>
    </div>
</div>
